.image-news{
    display: inline-block;
    width: 400px;
    height: 250px;
}
.card{
    border: 1px solid black;
    /* margin: 45px; */
    width: 400px;
    padding: 10px;
    height: 580px;
}
.artical-info{
    display: flex;
    justify-content: space-between;
   
}
.title{
    color: brown;
}
.href-readmore{
    cursor: pointer;
    text-decoration: double;
}
.description{
    color: rgb(133, 131, 131);
}
.card:hover{
    .title{
        color: rgb(33, 115, 3);
    }
}