.image-news{
    width: 400px;
   
}
.card{
    border: 1px solid rgb(245, 241, 241);
    margin: 30px;
    width: 400px;
    /* height: 450px; */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgb(115, 114, 114);
}
.dis-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.headline{
    text-align: center;
    color: brown;
}

.input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: 2px solid brown;
    color: brown;

}
.input-div{
    text-align: center;
}